<div class="container">
	<h1> Candidate Name </h1>

	<div class="row">
	 	<div class="col-md-4">
			<center>
				<h3> Republican </h3> 
				<% @candidates.each do |candidate| %>
				<h4> <%= candidate.name %> </h4>
				<% end %>
			</center>
		</div>
	  <div class="col-md-4">
	  	<center>
				<h3> Democrats </h3> 
				<% @candidates.each do |candidate| %>
				<h4> <%= candidate.name %> </h4>
				<% end %>
			</center>
	  </div>
	 	<div class="col-md-4">
			<center>
				<h3> Independent </h3> 
				<% @candidates.each do |candidate| %>
				<h4> <%= candidate.name %> </h4>
				<% end %>
			</center>
		</div>
	</div>
</div>