<div class="container">
	<h1><%= @candidate.name %> </h1>
	<h2>Top Ten Most Favorited Tweets</h2>
	<ul>
		<% @tweets.each do |tweet| %>
				<li>
							<%= tweet.text %>
				</li>
		<% end %>
	</ul>
</div>
