<div class="container">
		<h1> Home Page </h1>
		<h2> Candidates </h2>
		<% @candidates.each do |candidate| %>
			<h3> <%= candidate.name %> </h3>
		<% end %>

		<div class="row">
		  <div class="col-md-6">
				<center> Republican </center>
				<% @candidates.each do |candidate| %>
					<h3> <%= candidate.name %> </h3>
				<% end %>
			</div>
		  <div class="col-md-6">Democrats</div>
		</div>
</div>
