<div class="container">
	<h1>Candidate Name</h1>
	<div class="row">
	 	<div class="col-md-4">
				<ul>
					<li>Party:</li>
					<li>Approval Rating:</li>
				</ul>
		</div>
	  	<div class="col-md-8">
	  		<center>
				
			</center>
	    </div>
	</div>
</div>