<div class="container">
	<h1>Candidate Name</h1>
	<h2><%= @candidate.name %> </h2>
	<div class="row">
	 	<div class="col-md-4">
				<ul>
					<li>Party: <%= @candidate.party %> </li>
					<li>Approval Rating:</li>
				</ul>
				<h3>
					<% @candidate.tweets.each do |tweet| %>
						<%= tweet.text %>
					<% end %>
				</h3>
		</div>

	</div>
</div>
